# Data Science Tools and Ecosystem

# Data ScienceTools and Ecosystem

# Basically In this notebook, Data Science Tools and Ecosystem are summarized.

# Basically In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**

List popular languages for Data Science :

* Python.
* R.
* Scala.
* Julia.
* Java.
* C ++.

**Objectives :**

List popular languages for Data Science :

* Python.
* R.
* Scala.
* Julia.
* Java.
* C ++.

# Some of the poplar languages that data scientists use are :

1. Python.
2. Java Script.
3. C++.
4. Java.
5. SQL.
6. Julia.

# Some of the poplar languages that data scientists use are :

1. Python.
2. Java Script.
3. C++.
4. Java.
5. SQL.
6. Julia.

# Some of the commonly used libraries used by Data Scientists include :

1. NumPy.
2. Pandas.
3. Keras.
4. PyTorch.
5. TensorFLow.
6. SciPy.

# Some of the commonly used libraries used by Data Scientists include :

1. NumPy.
2. Pandas.
3. Keras.
4. PyTorch.
5. TensorFLow.
6. SciPy.

| Data Science Tools |
|--------------------|
| 1. Apache Spark    |
| 2. Weka            |
| 3. Apache Hadoop   |

| Data Science Tools |
|--------------------|
| 1. Apache Spark    |
| 2. Weka            |
| 3. Apache Hadoop   |

### Below are a few examples of evaluating arithmetic expressions in Python :


#Lets see some of the basic arithmetic Expressions below which is easy to understand :

x = 1
y = 3
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

### Below are a few examples of evaluating arithmetic expressions in Python :

#Lets see some of the basic arithmetic Expressions below which is easy to understand :

x = 1
y = 3
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

In [1]:
#Comment Line : This a simple arithmetic expression to mutiply then add integers :

#Expression is given below :

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60 :

min=int(input("Enter Number Of Minutes Which You Require To Convert To Hours: "))
print("Hour : Minute : ", int(min/60)," : ", min % 60)

Enter Number Of Minutes Which You Require To Convert To Hours: 200
Hour : Minute :  3  :  20

## Author 
   
   Sivaraman Vishal Ramanathan

## Author 
   
   Sivaraman Vishal Ramanathan